@import 'styles/variables';

.hero {
  background-color: var(--jl-orange-1);
}

.hero__content {
  display: grid;
  gap: 2rem;
  padding: var(--jl-safearea-padding);
  max-width: clamp(414px, 130rem, 90vw);
  margin: auto;
  padding-top: 15rem;
  align-items: center;
  grid-template-columns: minmax(40rem, 50rem) minmax(50rem, 70rem);
  justify-content: space-between;
  padding-bottom: 0rem;
  margin-bottom: -6rem;
  position: relative;
  z-index: 1;

  @media #{$sm-desktop-device} {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
    grid-gap: 5rem;
    padding-top: 15rem;
    margin-bottom: 0;
  }
}

.hero__text {
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-gap: 1rem;
}

.hero__eyebrow {
  font-size: $h4;
  font-weight: 200;
  letter-spacing: 0.8px;
}

.hero__title {
  font-size: $h2;
  max-width: 25ch;
}

.hero__description {
  max-width: min(50ch, 85vw);
  padding: 1.5rem 0;
}

.hero__button {
  background-color: var(--jl-violet);
  color: var(--jl-white);
  box-shadow: 0 0.8rem 2rem var(--jl-violet-op25);
  display: flex;
  justify-content: center;
  align-items: center;

  &-icon {
    fill: var(--jl-white);
  }

  @media #{$sm-device} {
    display: none;
  }
}

.hero__image {
  width: 100%;
  height: auto;
}
