@import 'styles/variables';

// Custom Fonts
@font-face {
  font-family: 'Sofia Pro';
  src: url('/fonts/Sofia_Pro_Regular.otf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Sofia Pro';
  src: url('/fonts/Sofia_Pro_Semibold.otf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Sofia Pro';
  src: url('/fonts/Sofia_Pro_Bold.otf');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

:root {
  --jl-safearea-padding: 3rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set the default font size to easy number to divide by (px/root size = rem) */
html {
  font-size: 62.5%;
  color: var(--jl-text-color);
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  // font-family: 'Montserrat', sans-serif;
  font-family: 'Sofia Pro', sans-serif;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: 0.3px;
  padding-top: 1.5rem;
}

h4 {
  font-size: $h4;
}

h3 {
  font-size: $h3;
}

h2 {
  font-size: $h2;
}

h1 {
  font-size: $h1;
}
