@import 'styles/variables';

.nav {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  position: sticky;
  top: 0;
  left: calc(50% - min(50vw, 80rem));
  width: 100%;
  max-width: min(100vw, 160rem);
  margin: auto;
  padding: var(--jl-safearea-padding);
  letter-spacing: 0.5px;
  z-index: 2;

  @media #{$sm-device} {
    padding: 2rem 1.5rem;
  }

  &__list {
    list-style: none;
    display: flex;
    gap: 2rem;
    justify-self: flex-end;
  }

  &__link {
    font-size: 1.4rem;
    align-self: center;

    &:first-of-type {
      padding-right: 2rem;

      @media #{$sm-device} {
        display: none;
      }

      & a {
        color: (--jl-violet);
        font-weight: 500;
        font-size: 1.6rem;
      }
    }
  }

  .logo {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 13rem;
    cursor: pointer;

    & a:visited {
      color: inherit;
    }
  }

  a:hover {
    text-decoration: none;
  }
}

.nav__button {
  background-color: var(--jl-violet);
  color: var(--jl-white);
  box-shadow: 0 0.8rem 2rem var(--jl-white-op10);
  padding: 1.6rem 2.5rem;

  &-icon {
    fill: var(--jl-white);
  }
}
