@import 'styles/variables';

.signup__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  grid-gap: 1.6rem;
  margin-top: 2rem;

  @media #{$sm-device} {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.input__group {
  .form__input {
    display: block;
    width: 100%;
    height: 5.3rem;
    font-size: $p;
    letter-spacing: 0.4px;
    border: 1px solid #363636;
    border-radius: 10rem;
    padding: 0 2rem;
    margin: 0.5rem 0;
    transition: border, background-color 0.1s ease-in-out;

    @media #{$sm-device} {
      display: block;
    }
  }
  .error {
    border: 1px solid var(--jl-error);
    background-color: var(--jl-red-op40);
  }

  .input-feedback {
    font-size: 1.4rem;
    color: red;
  }
}

.input__email {
  grid-column: 1/3;
}
