@import 'styles/variables';

.info {
  padding: var(--jl-safearea-padding);
  text-align: center;
}

.info__title {
  font-size: $h3;
  letter-spacing: 0.8px;
}

.info__tiles {
  display: flex;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: auto;
  padding-bottom: 2rem;

  @media #{$tablet-device} {
    flex-direction: column;
    align-items: center;
  }
}

.info__description {
  width: 100%;
  max-width: min(70ch, 100vw);
  margin: auto;
  padding: 1rem 0 7rem 0;

  @media #{$sm-device} {
    padding-bottom: 1.5rem;
  }
}

.info__announcment {
  font-size: 1.4rem;
  max-width: 35ch;
  margin: auto;
  line-height: 2.5rem;
}

.info__button {
  background-color: var(--jl-violet);
  color: var(--jl-white);
  box-shadow: 0 0.8rem 2rem var(--jl-violet-op25);
  padding: 1.7rem 0;
  max-width: max(20rem, 100vw);
  width: 100%;
  max-width: 25rem;
  margin: auto;

  &:disabled {
    opacity: 0.4;
    filter: blur(1px);
  }

  &-icon {
    fill: var(--jl-white);
  }
}
